<footer class="Footer">
  <div class="container">
    <div class="Row">
      <div class="footer-col">
        <h4 class="header">Quicklink</h4>
        <ul>
          <li><a routerLink="/home"><i class="fa fa-home"></i> <span> HOME</span></a></li>
          <li><a routerLink="/department"><i class="fa fa-book" aria-hidden="true"></i> <span> DEPARTMENT</span></a></li>
          <li><a routerLink="/admission"><i class="fa fa-graduation-cap" aria-hidden="true"> </i><span> ADMISSION</span></a></li>
          <li><a routerLink="/placement"><i class="fa fa-solid fa-handshake"></i> <span> PLACEMENT</span></a></li>
          <li><a routerLink="/contactUs"><i class="fa fa-envelope-open" aria-hidden="true"></i> <span> CONTACT US</span></a></li>
        </ul>
      </div>
      <div class="footer-col1">
        <h4 class="header">About Us</h4>
        <ul>
          <li><a routerLink="">TRAINING & PLACEMENT</a></li>
          <li><a routerLink="">LABORATORIES</a></li>
          <li><a routerLink="">HOSTEL & MEDICAL FACILITIES</a></li>
          <li><a routerLink="">SPORTS FACILITIES</a></li>


        </ul>
      </div>
      <div class="footer-col2">
        <h4 class="header">Contact Us</h4>
        <address>
          <p>
            VIP ENGINEERING COLLEGE,<BR><br>
            VIP KALVI NAGAR,<br><br>
            RASIPURAM,<br><br>
            NAMAKKAL,<br><br>
            TAMILNADU-637401.<br><br>
            Ph:9566506259,9876543210.<br><br>
          </p>
        </address>
      </div>
      <div class="footer-col3">
        <h4 class="header">Follow us on</h4>
        <ul>
          <li><a href="#"><i class="fab fa-facebook-f"> FACEBOOK</i></a></li>
          <li><a href="#"><i class="fab fa-twitter"> TWITTER</i></a></li>
          <li><a href="#"><i class="fab fa-instagram"> INSTAGRAM</i></a></li>
          <li><a href="#"><i class="fab fa-linkedin-in"> LINKEDIN</i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
