<footer class="Footer">
  <div class="container">
    <div class="Row">
      <div class="footer-col">
        <h4>Acadamic</h4>
        <ul>
          <li><a href="#"><abbr title="BACHOLER OF INFORMATION TECHNOLOGY">B.TECH-IT</abbr></a></li>
          <li><a href="#"><abbr title="COMPUTER SCIENCE ENGINEERING">CSE</abbr></a></li>
          <li><a href="#"><abbr title="ELECTRONIC COMMUNICATION ENGINEERING">ECE</abbr></a></li>
          <li><a href="#"><abbr title="ELECTRICAL AND ELECTRONIC ENGINEERING">EEE</abbr> </a></li>
          <li><a href="#"><abbr title="MECHONICAL ENGINEERING">MECH</abbr></a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>About Us</h4>
        <ul>
          <li><a href="#">COLLAGE DETAILS</a></li>
          <li><a href="#">COURSE DETAILS</a></li>

        </ul>
      </div>
      <div class="footer-col">
        <h4>Contact Us</h4>
        <address>
          <p>The Principle<br>
            KSR INSTITUDE FOR ENGINEERING AND TECHNOLOGY<BR><br>
            KSR Kalvi Nagar<br><br>
            Tirchengode<br><br>
            Namakkal<br><br>
            Tamilnadu-637215<br><br>
            ph:(04288)274773,274741-43<br><br>
          </p>
        </address>
      </div>
      <div class="footer-col">
        <h4>Other Links to Follow</h4>
        <ul>
          <li><a href="#"><i class="fab fa-facebook-f">FACEBOOK</i></a></li>
          <li><a href="#"><i class="fab fa-twitter">TWITTER</i></a></li>
          <li><a href="#"><i class="fab fa-instagram">INSTAGRAM</i></a></li>
          <li><a href="#"><i class="fab fa-linkedin-in">LINKEDIN</i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
