<app-menu></app-menu>
<div class="heading-bg">
  <section class="heading-link">
      <h3>Number Of Department Available</h3>
  </section>
</div>
<!-- <div class="buttons">
  <img class="slidebuttonleft" id="slidebuttonleft" src="../../assets/download.jpg" alt="">
  <img class="slidebuttonright" id="slidebuttonright" src="../../assets/images.jpg" alt="">
</div> -->

<div class="grid-container" id="grid-container">

  <div class="grid" id="grid">

      <div class="grid-item-1">

          <img src="../../assets/it.jpg" alt="" id="fantasyimg"><br>
          <p id="book-name">B.Tech. (Information Technology)</p><br>
          <!-- <p id="buy-now"> Open Now </p> -->
          <button id="buy-now" routerLink="/depatmentChild">Open Now</button>


      </div>
      <div class="grid-item-1">

          <img src="../../assets/cse.jpg" alt="" id="fantasyimg"><br>
          <p id="book-name">Computer Science and Engineering (CSE)</p><br>
          <p id="buy-now">Open Now</p>

      </div>
      <div class="grid-item-1">

          <img src="../../assets/ece.jpg" alt="" id="fantasyimg"><br>
          <p id="book-name">Electronics and Communication Engineering</p><br>
          <p id="buy-now">Open Now </p>

      </div>
      <div class="grid-item-1">
          <img src="../../assets/eee.jpg" alt="" id="fantasyimg"><br>
          <p id="book-name"> Electrical and Electronics Engineering(EEE)</p><br>
          <p id="buy-now">Open Now</p>

      </div>
      <div class="grid-item-1">

          <img src="../../assets/mech.jpg" alt="" id="fantasyimg"><br>
          <p id="book-name">Mechanical engineers<br>(ME)</p><br>
          <p id="buy-now">Open Now</p>

      </div>
      <div class="grid-item-1">

          <img src="../../assets/aerospace.jpg" alt="" id="fantasyimg"><br>
          <p id="book-name"> B.Tech. (Aerospace Engineering)</p><br>
          <p id="buy-now">Open Now</p>

      </div>
      <!-- <div class="grid-item-1">

          <img src="../../assets/agri.jpg" alt="" id="fantasyimg"><br>
          <p id="book-name">B.Tech. (Agricultural Engineering)</p><br>
          <p id="buy-now">Open Now</p>

      </div>
      <div class="grid-item-1">

          <img src="../../assets/ai.jpg" alt="" id="fantasyimg"><br>
          <p id="book-name">  Artificial Intelligence Engineering</p><br>
          <p id="buy-now">Open Now</p>

      </div>
      <div class="grid-item-1">

          <img src="../../assets/bio-tech.jpg" alt="" id="fantasyimg"><br>
          <p id="book-name">B.Tech. (Biochemical Engineering)</p><br>
          <p id="buy-now">Open Now</p>

      </div> -->
  </div>
</div>
<!-- <div class="buttons">
  <img class="slidebuttonleft" id="slidebuttonleft1" src="../../assets/download.jpg" alt="">
  <img class="slidebuttonright" id="slidebuttonright1"  src="../../assets/images.jpg" alt="">
</div> -->

<div class="grid-container" id="grid-container1">

  <div class="grid" id="grid">

      <div class="grid-item-1">

          <img src="../../assets/bio.jpg" alt="" id="fantasyimg"><br>
          <p id="book-name">B.Tech. (Biomedical Engineering)</p><br>
          <p id="buy-now"> Open Now </p>


      </div>
      <div class="grid-item-1">

          <img src="../../assets/business.jpg" alt="" id="fantasyimg"><br>
          <p id="book-name">Business Engineering<br>(BE)</p><br>
          <p id="buy-now">Open Now</p>

      </div>
      <div class="grid-item-1">

          <img src="../../assets/chemical.jpg" alt="" id="fantasyimg"><br>
          <p id="book-name"> B.Tech.<br>(Chemical Engineering)</p><br>
          <p id="buy-now">Open Now </p>

      </div>
      <div class="grid-item-1">
          <img src="../../assets/civile.jpg" alt="" id="fantasyimg"><br>
          <p id="book-name">B.Tech.<br> (Civil Engineering)</p><br>
          <p id="buy-now">Open Now</p>

      </div>
      <div class="grid-item-1">

          <img src="../../assets/cloud.jpg" alt="" id="fantasyimg"><br>
          <p id="book-name">B.Tech. (Cloud Computing Engineering) </p><br>
          <p id="buy-now">Open Now</p>

      </div>
      <div class="grid-item-1">

          <img src="../../assets/diary.jpg" alt="" id="fantasyimg"><br>
          <p id="book-name">B.Tech.<br> (Dairy Technology)</p><br>
          <p id="buy-now">Open Now</p>

      </div>
      <!-- <div class="grid-item-1">

          <img src="../../assets/istrumentation.jpg" alt="" id="fantasyimg"><br>
          <p id="book-name">Electronics and Instrumentation Engineering</p><br>
          <p id="buy-now">Open Now</p>

      </div> -->
      <!-- <div class="grid-item-1">

          <img src="../../assets/marine.jpg" alt="" id="fantasyimg"><br>
          <p id="book-name">B.Tech.<br>(Marine engineering)</p><br>
          <p id="buy-now">Open Now</p>

      </div>
      <div class="grid-item-1">

          <img src="../../assets/media.jpg" alt="" id="fantasyimg"><br>
          <p id="book-name">B.Tech.<br>( Media engineering)</p><br>
          <p id="buy-now">Open Now</p>

      </div> -->
  </div>
</div>
<!-- <div class="buttons">
  <img class="slidebuttonleft" id="slidebuttonleft2" src="../../assets/download.jpg" alt="">
  <img class="slidebuttonright" id="slidebuttonright2"  src="../../assets/images.jpg" alt="">
</div> -->

<div class="grid-container" id="grid-container2">

  <div class="grid" id="grid">

      <div class="grid-item-1">

          <img src="../../assets/nano.jpg" alt="" id="fantasyimg"><br>
          <p id="book-name">B.Tech. (Electronics and Nanotechnology)</p><br>
          <p id="buy-now"> Open Now </p>

      </div>
      <div class="grid-item-1">

          <img src="../../assets/petrol.jpg" alt="" id="fantasyimg"><br>
          <p id="book-name">B.Tech.<br> (Petroleum engineering)</p><br>
          <p id="buy-now">Open Now</p>

      </div>
      <div class="grid-item-1">

          <img src="../../assets/texttile.jpg" alt="" id="fantasyimg"><br>
          <p id="book-name">B.Tech.<br> (Textile engineering)</p><br>
          <p id="buy-now">Open Now </p>

      </div>
      <div class="grid-item-1">
          <img src="../../assets/electric.jpg" alt="" id="fantasyimg"><br>
          <p id="book-name">B.Tech. (Electronics Engineering)</p><br>
          <p id="buy-now">Open Now</p>

      </div>
      <div class="grid-item-1">

          <img src="../../assets/energe.jpg" alt="" id="fantasyimg"><br>
          <p id="book-name">B.Tech.<br> (Energy Technology)</p><br>
          <p id="buy-now">Open Now</p>

      </div>
      <div class="grid-item-1">

          <img src="../../assets/environment.jpg" alt="" id="fantasyimg"><br>
          <p id="book-name"> B.Tech. (Environmental Engineering)</p><br>
          <p id="buy-now">Open Now</p>

      </div>
      <!-- <div class="grid-item-1">

          <img src="../../assets/food.jpg" alt="" id="fantasyimg"><br>
          <p id="book-name">B.Tech. <br>(Food Technology)</p><br>
          <p id="buy-now">Open Now</p>

      </div>
      <div class="grid-item-1">

          <img src="../../assets/genetic.jpg" alt="" id="fantasyimg"><br>
          <p id="book-name">B.Tech. (Genetic Engineering)</p><br>
          <p id="buy-now">Open Now</p>

      </div>
      <div class="grid-item-1">

          <img src="../../assets/geo.jpg" alt="" id="fantasyimg"><br>
          <p id="book-name">B.Tech. (Geo Sciences Engineering)</p><br>
          <p id="buy-now">Open Now</p>

      </div> -->
  </div>
</div>
<div class="grid-container" id="grid-container2">

  <div class="grid" id="grid">
    <div class="grid-item-1">

      <img src="../../assets/food.jpg" alt="" id="fantasyimg"><br>
      <p id="book-name">B.Tech.<br>(Food Technology)</p><br>
      <p id="buy-now">Open Now</p>

  </div>
  <div class="grid-item-1">

      <img src="../../assets/genetic.jpg" alt="" id="fantasyimg"><br>
      <p id="book-name">B.Tech. (Genetic Engineering)</p><br>
      <p id="buy-now">Open Now</p>

  </div>
  <div class="grid-item-1">

      <img src="../../assets/geo.jpg" alt="" id="fantasyimg"><br>
      <p id="book-name">B.Tech. (Geo Sciences Engineering)</p><br>
      <p id="buy-now">Open Now</p>

  </div>
  <div class="grid-item-1">

    <img src="../../assets/istrumentation.jpg" alt="" id="fantasyimg"><br>
    <p id="book-name">Electronics and Instrumentation Engineering</p><br>
    <p id="buy-now">Open Now</p>

</div>
 <div class="grid-item-1">

    <img src="../../assets/marine.jpg" alt="" id="fantasyimg"><br>
    <p id="book-name">B.Tech.<br>(Marine engineering)</p><br>
    <p id="buy-now">Open Now</p>

</div>
<div class="grid-item-1">

    <img src="../../assets/media.jpg" alt="" id="fantasyimg"><br>
    <p id="book-name">B.Tech.<br>( Media engineering)</p><br>
    <p id="buy-now">Open Now</p>

</div>
  </div>
  </div>
<app-footer></app-footer>
