.heading-bg {
  background-color: darkcyan;
  background-size: cover;
  background-position: center;
}

.heading-link {
  text-align: center;
  overflow: hidden;
}

.heading-link h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: inherit;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.thumbnail {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.open{
  background-color: darkcyan;
  text-align: center;
  text-decoration:none;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 3px;

}
.open a{
  color: black;
  text-decoration: none;
}

.thumbnail img {
  width: 220px;
  height: 300px;
  border-radius: 10px;
}

.department {
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  padding-left: 10px;
  margin: 20px;
  cursor: pointer;
  margin-left: 30px;
  margin-right: 25px;

}


/* .img-slider{
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
} */

.slide{
  /* width: 100%; */
  height: 130vh;
}

.title,
.description {
  color: black;
  text-align: center;
}

.title a {
  text-decoration: none;
}

