<app-menu></app-menu>
<div class="heading-bg">
  <section class="heading-link">
    <h3>Number Of Department Available</h3>
  </section>
</div>
<div class="slide">
  <div class="department" *ngFor="let eachData of department">
    <div class="thumbnail">
      <img [src]="eachData.thumbnail" />
    </div>
    <div class="title">
      {{ eachData.title }}
    </div>
    <div class="open">
      <a routerLink="/departmentchild/{{ eachData.title }}">
        {{ eachData.open}}</a>
    </div>
  </div>
</div>


