<app-StudentpageManu></app-StudentpageManu>
<body>
  <div class="heading-bg">
    <section class="heading-link">
      <h3><i class="fa-solid fa-graduation-cap"></i>Student Mark </h3>
    </section>
  </div>
    <table class="table">
      <thead>
        <tr>
          <th>SEMESTER</th>
          <th>SUBJECT</th>
          <th>MARK</th>
          <th>RESULT</th>
        </tr>
      </thead>
      <tbody>
        <tr class="active">
          <td>06</td>
          <td>DBMS</td>
          <td>90</td>
          <td>PASS</td>
        </tr>
        <tr class="active">
          <td>06</td>
          <td>SRS</td>
          <td>100</td>
          <td>pass</td>
        </tr>
        <tr class="active">
          <td>06</td>
          <td>SCM</td>
          <td>99</td>
          <td>PASS</td>
        </tr>
        <tr class="active">
          <td>06</td>
          <td>CNS</td>
          <td>95</td>
          <td>PASS</td>
        </tr>
        <tr class="active" >
          <td>06</td>
          <td>POM</td>
          <td>98</td>
          <td>PASS</td>
        </tr>
      </tbody>
    </table>

</body>
<app-footer></app-footer>
