<body>
  <nav class="nav">
    <div class="logo"><img src="../../assets/logo.png"><h4>VIP Engineering College</h4></div>
      <ul>
          <li><a routerLink="/adminhome" routerLinkActive="activated"><i class="fa fa-home"> HOME</i></a></li>
          <li><a routerLink="/viewstaffattendence" routerLinkActive="activated"><i class="fa fa-calendar"> Staff Attendence</i></a></li>
          <li><a  routerLink="/addstaff" routerLinkActive="activated"><i class="fa fa-marker">Add Staff</i></a></li>
          <!-- <li><a  routerLink="/complients" routerLinkActive="activated"><i class="fa fa-check"> Complaints</i></a></li> -->
          <li><a  routerLink="/adminprofile" routerLinkActive="activated"><i class="fa fa-thumbtack"> Profile</i></a></li>
          <li><a  routerLink="/home" routerLinkActive="activated"><i class="fa fa-angles-right">Logout</i></a></li>
      </ul>

      <div class="hamburger">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
      </div>
  </nav>


  </body>


