<body>
  <nav class="nav">
    <div class="logo"><img src={{AdminLogo}}><h4>VIP Engineering College</h4></div>
      <ul>
          <li><a routerLink="/adminhome" routerLinkActive="activated"><i class="fa fa-home"></i> <span> HOME</span></a></li>
          <li><a routerLink="/viewstaffattendence" routerLinkActive="activated"><i class="fa fa-calendar"></i><span> Staff Attendence View</span></a></li>
          <li><a  routerLink="/addstaff" routerLinkActive="activated"><i class="fa fa-marker"></i><span> Add Staff</span></a></li>
          <li><a  routerLink="/contactformview" routerLinkActive="activated"><i class="fa fa-check"></i><span> Contact Form</span></a></li>
          <!-- <li><a  routerLink="/home" routerLinkActive="activated"><i class="fa fa-user"></i><span> admin</span></a></li> -->
          <!-- <li><a  routerLink="/adminprofile" routerLinkActive="activated"><i class="fa fa-thumbtack"> Profile</i></a></li> -->
          <li><a  routerLink="/home" routerLinkActive="activated"><i class="fa fa-angles-right"></i><span> Logout</span></a></li>
      </ul>

      <div class="hamburger">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
      </div>
  </nav>


  </body>


