
<nav class="nav">
  <div class="logo"><img src= {{HomeLogoimage}}><h4>VIP Engineering College</h4></div>
  <label for="btn" class="icon">
    <span class="fa fa-bars"></span>
  </label>
  <input type="checkbox" id="btn">
  <ul>
    <li><a routerLink="/home" routerLinkActive="activated"><i class="fa fa-home"></i><span> Home</span></a></li>
    <li><label for="btn1" class="show" routerLinkActive="activated"><i class="fa fa-user" aria-hidden="true"> About Us+</i></label>
      <a routerLink="/about" routerLinkActive="activated"> <i class="fa fa-user" aria-hidden="true"></i><span> About Us+</span> </a>
      <input type="checkbox" id="btn1">
      <ul>
        <li><a routerLink="/department" routerLinkActive="activated"><i class="fa fa-book" aria-hidden="true"></i><span> Department</span></a></li>
        <li><a routerLink="/admission"  routerLinkActive="activated"><i class="fa fa-graduation-cap" aria-hidden="true"> </i><span> Admission</span></a></li>
      </ul>
    </li>
    <li><a routerLink="/placement" routerLinkActive="activated"><i class="fa fa-solid fa-handshake"></i> <span> Placement</span></a></li>
    <li><a routerLink="/contact" routerLinkActive="activated"><i class="fa fa-envelope-open" aria-hidden="true"></i><span> Contact Us</span></a></li>
    <li>
      <a routerLink="/login" routerLinkActive="activated"><i class="fa fa-solid fa-right-to-bracket"></i><span> Login</span> </a>
    </li>

  </ul>


</nav>

