<app-menu></app-menu>
<body>
  <div class="heading-bg">
    <section class="heading-link">
      <h3><i class="fa-solid fa-graduation-cap"></i> Placement to success</h3>
    </section>
  </div>
  <div class="main">
    <div class="image"><img src="../../assets/admission/placed.png" /></div>
    <div class="content">
      <p id="frist">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;It
        made a remarkable growth in the placement edge in the last decade by a
        strong, determinant and dynamic placement cell catering the need of
        various industries by ensuring that our students meet the necessities of
        the current industrial scenario.The placement office is such a way
        designed that support the requirement of the organization to conduct the
        pre-placement talk, written test, Group Discussion and interview in
        effective manner.</p>
        <br><br>
        <p class="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The
        placement cell takes immense effort in guiding the students for their
        successful career.The college has active MoUs & Centers of excellence
        with various prominent players in various industries. The college is
        visited by various Multinational companies year after year for
        placements and hence the college had a blistering placement record.
      </p>
    </div>
  </div>
  <h1>
    <i class="fa-solid fa-people-group"></i> COMPANIES FOR THE YEAR 2022-2023
  </h1>
<div class="image1"><img src="../../assets/admission/Capture.PNG" /></div>
  <div class="main1">
     <div class="content1"><p id="text">
        The training and placement team believes in the thought, “The outcome of
        education is apparent when careers sharpen your horizons” and we strive
        every minute working on it. Students’ skills are molded through
        multifarious training sessions that include technical, aptitude, verbal
        and soft skill. By understanding their level of grasping and delivering,
        the students are trained individually, based on their needs. To keep
        pace with the world, multiplicity of career is essential and that drives
        us to provide training and guidance for those who aspire to crack the
        competitive exams. The ambience in Training and Placement department is
        an inspiration, for its spatial dimensions of Interview cubicles, Group
        Discussion halls and Guest Lounge that render students a complete
        professional environment to learn and equip. A team of passionate staff
        work with a single motive for upgrading the students to the next phase
        of life by all possible means.
        </p>
      </div>
  </div>
  <h1 id="heading">
    <i class="fa-solid fa-trophy"></i> OVER ALL ARCHIVEMENT(2022)
  </h1>
  <br /><br />
  <div class="wrapper">
    <div class="container">
      <i class="fa fa-book" aria-hidden="true"></i>
      <span class="num" data-val="300">400+</span>
      <span class="text">INTERNSHIPS</span>
    </div>

    <div class="container">
      <i class="fa fa-certificate" aria-hidden="true"></i>
      <span class="num" data-val="200">1000+</span>
      <span class="text">COMPANIES</span>
    </div>

    <div class="container">
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
      <span class="num" data-val="100">950+</span>
      <span class="text">OFFER LETTER</span>
    </div>
  </div>
</body>
<app-footer></app-footer>
