<app-staffpagemenu></app-staffpagemenu>
<div class="img">
<div class="image"></div>
<div class="table1">
  <table class="table">
    <tr>
      <th colspan="2"><i class="fa fa-user"></i> STAFF DETAILS</th>

    </tr>
    <tr>
      <td class="color">Staff_Id</td>
      <td>{{Staffinfo.id}}</td>

    </tr>
    <tr>
      <td class="color">First Name</td>
      <td>{{Staffinfo.firstname1}}</td>

    </tr>
     <tr>
      <td class="color">Last Name</td>
      <td>{{Staffinfo.lastname1}}</td>

    </tr>
     <tr>
      <td class="color">Email-Id</td>
      <td>{{Staffinfo.email1}}</td>

    </tr>
     <tr>
      <td class="color">Password</td>
      <td>{{Staffinfo.password1}}</td>

    </tr>
  </table>
</div>
</div>
<app-footer></app-footer>

