<app-menu></app-menu>
<body>
<div class="heading-bg">
  <section class="heading-link">
    <h3><i class="fa-solid fa-graduation-cap"></i> Admission Details</h3>
    <h3>B.E./B.Tech. Admissions – MANAGEMENT QUOTA</h3>
    <h3>ORIGINAL DOCUMENTS TO BE PRODUCED AT THE TIME OF ADMISSION</h3>
  </section>
</div>
<div class="grid">
<div class="img"><img src="../../assets/2.png"></div>
  <div class="text">
    <p><i class="fa-regular fa-hand-point-right"></i> Community Certificate for BC/BCM/MBC/SC/ST & SCA candidates only<br>
      <i class="fa-regular fa-hand-point-right"></i> Transfer / Conduct certificate<br>
      <i class="fa-regular fa-hand-point-right"></i> +2 & +1 / Equivalent mark sheets<br>
      <i class="fa-regular fa-hand-point-right"></i> 10th mark sheet<br>
      <i class="fa-regular fa-hand-point-right"></i> Passport size photograph of the student – 1 No</p>
  </div>
</div>
<div class="grid">
    <div class="text1">
      <h1>Order of Arrangement of Documents</h1>
      <p><i class="fa-regular fa-hand-point-right"></i> Community Certificate<br>
        <i class="fa-regular fa-hand-point-right"></i> Transfer / Conduct certificate<br>
        <i class="fa-regular fa-hand-point-right"></i> +2 & +1 mark sheets<br>
        <i class="fa-regular fa-hand-point-right"></i> SSLC / 10th mark sheet<br>
        <i class="fa-regular fa-hand-point-right"></i> Physical Fitness Certificate<br>
        <i class="fa-regular fa-hand-point-right"></i> Photo copy of student’s Aadhaar Card<br>
        <i class="fa-regular fa-hand-point-right"></i> Photo copies of all the above (9) documents – 1 Set</p>
    </div>
    <div class="img1"><img src="../../assets/1b-removebg-preview.png"></div>
  </div>
  <div class="heading-bg">
    <section class="heading-link">
      <h3>B.E./B.Tech. Admissions – GOVERMENT QUOTA</h3>
      <h3>ORIGINAL DOCUMENTS TO BE PRODUCED AT THE TIME OF ADMISSION</h3>
    </section>
  </div>
  <div class="grid">
    <div class="img2"><img src="../../assets/admission/istockphoto-1306920037-612x612-removebg-preview.png"></div>
      <div class="text2">
        <p>
          <i class="fa-regular fa-hand-point-right"></i> Provisional Allotment Order<br>
          <i class="fa-regular fa-hand-point-right"></i> Community Certificate for BC/BCM/MBC/SC/ST & SCA candidates only<br>
          <i class="fa-regular fa-hand-point-right"></i> Transfer / Conduct certificate<br>
          <i class="fa-regular fa-hand-point-right"></i> +2 & +1 / Equivalent mark sheets<br>
          <i class="fa-regular fa-hand-point-right"></i> 10th mark sheet<br>
          <i class="fa-regular fa-hand-point-right"></i> Bonafide Certificate as proof for having studied VI to XII standard in Government School<br>
          <i class="fa-regular fa-hand-point-right"></i> First Graduate Tahsildar Certificate – If applicable<br>
          <i class="fa-regular fa-hand-point-right"></i> First Graduate – Joint Declaration duly signed by Parent and Student – If applicable<BR>
          <i class="fa-regular fa-hand-point-right"></i> Passport size photograph of the student – 1 No</p>
      </div>
    </div>
    <div class="grid">
        <div class="text3">
          <h1>Order of Arrangement of Documents</h1>
          <p><i class="fa-regular fa-hand-point-right"></i> Provisional Allotment Order<BR>
            <i class="fa-regular fa-hand-point-right"></i> Community Certificate<br>
            <i class="fa-regular fa-hand-point-right"></i> Transfer / Conduct certificate<br>
            <i class="fa-regular fa-hand-point-right"></i> +2 & +1 mark sheets<br>
            <i class="fa-regular fa-hand-point-right"></i> SSLC / 10th mark sheet<br>
            <i class="fa-regular fa-hand-point-right"></i> First Graduate Tahsildar Certificate<br>
            <i class="fa-regular fa-hand-point-right"></i> First Graduate – Joint Declaration<br>
            <i class="fa-regular fa-hand-point-right"></i> Physical Fitness Certificate<br>
            <i class="fa-regular fa-hand-point-right"></i> Photo copy of student’s Aadhaar Card<br>
            <i class="fa-regular fa-hand-point-right"></i> Photo copies of all the above (9) documents – 1 Set</p>
        </div>
        <div class="img3"><img src="../../assets/admission/istockphoto-619673204-612x612-removebg-preview.png"></div>
      </div>
</body>
<app-footer></app-footer>

