<app-menu></app-menu>
<body>
<div class="img">
  <div class="content">
    <div class="img1"></div>
    <div class="text">
      <h2>
        * Education is a powerful weapon, always remains together.<br />
        * Education is the way to real freedom.<br />
        * Education empowers a person in all dimensions of life.<br />
        * Education has power to change people's mind positively.
      </h2>
    </div>
    <div class="details">
      <div class="engDetails">
        <h2>Training & Placement</h2>
        <p>The training and placement team believes in the thought,
          “The outcome of education is apparent when careers sharpen your horizons” and we strive every minute working on it.
          Students’ skills are molded through multifarious training sessions that include technical,
           aptitude, verbal and soft skill</p>
          <!-- <button>Apply now</button> -->
      </div>
      <div class="engDetails">
        <h2>Laboratories</h2>
        <p>
          CMS Special Laboratories provide a platform for students to learn, practice, and innovate on the globally sought after skills, beside product development. CMS Special Laboratories established over-and-over the regular labs mandated by the University / AICTE, trains students to participate in internationally reputed competitions.</p>
          <!-- <button>Apply now</button> -->
      </div>
      <div class="engDetails">
        <h2>Hostel & Medical Facilities</h2>
        <p>Well-furnished hostels for gents and ladies with four, double and single occupancy rooms are available with separate guest rooms. The living rooms are built with aesthetic layout, containing wardrobe and storage space. The dining halls with a seating capacity of 4100 students are available. </p>
          <!-- <button>Apply now</button> -->
      </div>
      <div class="engDetails">
        <h2>Sports Facilities</h2>
        <p>The Existing sports facilities for students includes 400 m standard athletic track with 8 lanes including a Long Jump & Triple Jump Pit, Sectors for Shot-put, Discus & Javelin throws, In additional, it has also a standard bed for High jump and Pole vault events and ect..Total area of the College Play Field is 5,74,580 sq. ft.</p>
          <!-- <button>Apply now</button> -->
      </div>
    </div>
  </div>
</div>

<!-- <dialog class="popup">
  <i class="fa-solid fa-xmark" (click)="closeOffer()"></i>
     <div class="img3"></div>
     <p id="message">
       Welcome to VIP Engineering College Website
     </p>
</dialog> -->

<dialog class="popup">
  <i class="fa-solid fa-xmark" (click)="display()"></i>
  <div class="img3"></div>
   <p>
    Welcome to VIP Engineering College Website
</p>
   <a href=""></a>
</dialog>

<div class="center-tag">
  <!-- <li><a href="E:\Application\Login page\loginpage.html">EXPLORE</a></li> -->
  <div class="icon_tag">
    <i class="fa-sharp fa-solid fa-award"></i>
    <p>BEST COLLEGE<BR /> AWARD</p>
  </div>
  <div class="icon_tag">
    <i class="fa-sharp fa-solid fa-trophy"></i>
    <p>NACC A++</p>
  </div>
  <div class="icon_tag">
    <i class="fa-sharp fa-solid fa-book"></i>
    <p>30+ COURSE<BR />AVAILABLE</p>
  </div>
  <div class="icon_tag">
    <i class="fa-solid fa-globe"></i>
    <p>
      INTERNATION <br />
      BEST COLLEGE
    </p>
  </div>
  <div class="icon_tag">
    <i class="fa-solid fa-book-open-reader"></i>
    <p>HI-TECH <BR /> TEACHING</p>
  </div>
  <div class="icon_tag">
    <i class="fa-solid fa-user-pen"></i>
    <p>10000+ STUDENT<BR />PLACED</p>
  </div>
</div>
</body>

<app-footer></app-footer>
