/* -----------------------------------------------------------image-------------------------------------------- */
body{
  background-color: darkcyan;
}
.img{
  background-image:url(../../assets/college.jpg);
   background-size: cover;
  background-position: center;
  width: 100%;
  height:1000px;
  position: relative;
  display:flex;
}
.img .content{
background-color: rgb(0,0,0,0.7);
width: 100%;

}
.content .img1 {
  background-image:url(../../assets/1b-removebg-preview.png);
  height: 500px;
  margin-top: 220px;
  margin-left:200px;
  background-repeat: no-repeat;
}
/* .img .content:hover{
  color:black;
  font-size: large;
} */
/* ................................................slider.................................... */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .text h2{
  margin-top: -450px;
  margin-left:550px;
  font-size: 27px;
  /* font-family: 'Crimson Text', serif; */
  color:#ffffff;
  font-weight: 500;
  line-height: 60px;
  cursor: pointer;
}

/* .........................................popup........................................ */
.popup{
  /* background-color: aliceblue;
  width: 460px;
  padding: 30px 40px;
  margin: 30px 40px;
  position: absolute; */
  /* font-family:"Poopins",sans-serif; */
  /* left: 35%; */
  /* bottom: 50%; */
  /* margin: auto -30px; */
}
.popup i{
  /* display: block; */
  /* background-color: transparent;
  font-size: 30px;
  color: black;
  border: none;
  cursor: pointer;
  margin-left: 451px;
  position: relative;
  margin-top: -30px;
  transform: translateX(10px); */
}

.popup{
  background-color: aliceblue;
  width: 450px;
  padding: 0px 40px;
  position: relative;
  left: 35%;
  margin-block: auto;
  margin: auto -30px;
  border-radius: 7px;
  border: 5px solid lightblue;

}
.popup i{
  background-color: transpa5ent;
  font-size: 30px;
  color: black;
  border: none;
  cursor: pointer;
  margin-left: 461px;
  transform: translateY(0px);
}
.popup .img3{
  background-image: url(../../assets/logo.png);
  width: 185px;
  height: 170px;
  background-repeat: no-repeat;
  margin-left: 100px;
  margin-top: -40px;
  margin-bottom: 20px;

}
.popup p{
  font-size: 28px;
  /* text-align: justify; */
  margin: 20px 0;
  text-align: -webkit-center;
  transform: translateY(-20px);
  margin-top: 30px;
  font-weight:bold;
}

.popup  i:hover{
  background-color: red;
  padding-left: 5px;
  padding-right: 5px;

}
/* ------------------------------------------------centertag------------------------------------------- */
.center-tag{
  text-align: center;
  font-size: 60px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* background-color: black; */
   border:3px solid darkcyan ;
  margin-left: 8px;
  margin-right: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
display:flex;
background-color: darkcyan;
margin: 0%;


}
/* .center-tag li a{
  color: aliceblue;
}
.center-tag li a:hover{
  color: orangered;

} */
.center-tag{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  border-bottom:2px solid #a9a9a9 ;
  border-top: 2px solid brown;
}
.center-tag p{
  /* font-size:medium; */
  font-size: 20px;
  font-size: 20px;
  font-style: oblique;
  color: aliceblue;
} .center-tag i{
  cursor: pointer;
  color:rgb(117, 196, 248);
}
.center-tag :hover{
  transform: scale(0.9);
}
.icon_tag{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  /* color: #00ffc4; */
}
.details{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin-top: 5%;
  text-align: justify;
}
.engDetails{
  /* position: absolute; */
  margin: 2%;
  padding: 10%;
  /* background-color: aqua; */
  border-radius: 25px;
  border: 2px solid darkcyan;
  margin-top: 120px;
  margin-bottom: 20px;
}
.engDetails h2{
  text-align: center;
  color: #0de7c9;
}
.engDetails p{
   margin-top: 5%;
   color: #ffffff;
}

