<body>
  <nav class="nav">
    <div class="logo"><img src="../../assets/logo.png"><h4>VIP Engineering College</h4></div>
      <ul>
          <li><a routerLink="/staffhome" routerLinkActive="activated"><i class="fa fa-home"> HOME</i></a></li>
          <li><a routerLink="/staffattendence" routerLinkActive="activated"><i class="fa fa-calendar"> Attendence</i></a></li>
          <li><a  routerLink="/studentattendenceview" routerLinkActive="activated"><i class="fa fa-marker">Student Attendence</i></a></li>
          <li><a  routerLink="/studentcomplientsview" routerLinkActive="activated"><i class="fa fa-check">Student Complaints</i></a></li>
          <li><a  routerLink="/uploadmark" routerLinkActive="activated"><i class="fa fa-thumbtack"> Upload Marks</i></a></li>
          <li><a  routerLink="/staffprofile" routerLinkActive="activated"><i class="fa fa-thumbtack"> Profile</i></a></li>

          <li><a  routerLink="/home" routerLinkActive="activated"><i class="fa fa-angles-right">Logout</i></a></li>
      </ul>

      <div class="hamburger">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
      </div>
  </nav>


  </body>


