<app-menu></app-menu>
<body>
  <div class="image"></div>
  <div class="login">
    <!-- <div class="exit">
                          <a routerLink="/login">Exit <i class="fa-solid fa-share-from-square"></i></a>
                      </div> -->
    <header>REGISTER</header>

    <form [formGroup]="formRegister" (submit)="submitForm()">
      <div class="field firstname">
        <div class="input-area">
          <input
            type="text"
            autocomplete="off"
            pattern="^[A-Z a-z]{3,15}$"
            name="uname"
            placeholder="FirstName"
            class="input"
            formControlName="firstname1"
          />
          <i class="icon fas fa-user"></i>
          <!-- <p class="gap"> &numsp;</p> -->
        </div>
      </div>
      <div
        class="information-error"
        *ngIf="formRegister.controls['firstname1'].dirty"
      >
        <p
          class="error"
          *ngIf="formRegister.controls['firstname1'].errors?.['required']"
        >
          <i class="fas fa-exclamation-circle"></i>&numsp; Enter the FirstName
        </p>
        <p
          class="error"
          *ngIf="formRegister.controls['firstname1'].errors?.['pattern']"
        >
          <i class="fas fa-exclamation-circle"></i>&numsp; Enter Only Alphabet
          Letters
        </p>
      </div>
      <div class="field lastname">
        <div class="input-area">
          <input
            type="text"
            autocomplete="off"
            pattern="^[A-Z a-z]{1,8}$"
            name="lname"
            placeholder="LastName"
            class="input"
            formControlName="lastname1"
          />
          <i class="icon fas fa-user"></i>
        </div>
      </div>
      <div
        class="information-error"
        *ngIf="formRegister.controls['lastname1'].dirty"
      >
        <p
          class="error"
          *ngIf="formRegister.controls['lastname1'].errors?.['required']"
        >
          <i class="fas fa-exclamation-circle"></i>&numsp; Enter the LastName
        </p>
        <p
          class="error"
          *ngIf="formRegister.controls['lastname1'].errors?.['pattern']"
        >
          <i class="fas fa-exclamation-circle"></i>&numsp; Enter Only Alphabet
          Letters
        </p>
      </div>
      <div class="field email">
        <div class="input-area">
          <input
            type="email"
            autocomplete="off"
            pattern="^[a-z 0-9]+[@][a-z]+[\.]+[a-z]{2,3}$"
            name="email"
            placeholder="Email-id"
            class="input"
            formControlName="email1"
          />
          <i id="icon" class="icon fas fa-envelope"></i>
        </div>
      </div>
      <div
        class="information-error"
        *ngIf="formRegister.controls['email1'].dirty"
      >
        <p
          class="error"
          *ngIf="formRegister.controls['email1'].errors?.['required']"
        >
          <i class="fas fa-exclamation-circle"></i>&numsp; Enter the Email-id
        </p>
        <p
          class="error"
          *ngIf="formRegister.controls['email1'].errors?.['pattern']"
        >
          <i class="fas fa-exclamation-circle"></i>&numsp; Enter the correct
          email-id Formet
        </p>
      </div>
      <div class="field password">
        <div class="input-area">
          <input
            type="password"
            pattern="^[A-Z]{1}[a-z]+[@/$/&/*#][1-9]{1,7}$"
            name="Password"
            placeholder="Password "
            class="input"
            required
            formControlName="password1"
          />
          <i id="icon1" class="icon fas fa-lock"></i>
        </div>
      </div>
      <div
        class="information-error1"
        *ngIf="formRegister.controls['password1'].dirty"
      >
        <p
          class="error"
          *ngIf="formRegister.controls['password1'].errors?.['required']"
        >
          <i class="fas fa-exclamation-circle"></i>&numsp;Enter the Password
        </p>
        <p
          class="error"
          *ngIf="formRegister.controls['password1'].errors?.['pattern']"
        >
          <i
            title="password have min 7 digits, uppercase, lowercase, number and special character"
            class="fas fa-exclamation-circle"
          ></i
          >&numsp;password Constraints 1Cap(A)-Num(1)-Symbol(@)
        </p>
      </div>
      <div class="field comformpassword">
        <div class="input-area">
          <input
            type="password"
            pattern="^[A-Z]{1}[a-z]+[@][1-9]{3,7}$"
            name="Password"
            placeholder="Conform Password "
            class="input"
            required
            cpasswords
            formControlName="cpassword1"
          />
          <i class="icon fas fa-lock"></i>
        </div>
      </div>
      <div
        class="information-error1"
        *ngIf="formRegister.controls['cpassword1'].dirty"
      >
        <p
          class="error"
          *ngIf="formRegister.controls['cpassword1'].errors?.['required']"
        >
          <i class="fas fa-exclamation-circle"></i>&numsp; Enter the
          ConformPassword
        </p>
        <p
          class="error"
          *ngIf="formRegister.controls['cpassword1'].errors?.['cpasswordvalid']"
        >
          <i
            title="password have min 7 digits, uppercase, lowercase, number and special character"
            class="fas fa-exclamation-circle"
          ></i
          >&numsp;Password Does't Match
        </p>
      </div>
      <button [disabled]="!formRegister.valid">Register</button>
    </form>
  </div>
</body>
<app-footer></app-footer>
